.share-popup {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.qr-box {
    display: flex;
    justify-content: center;
    padding: 20px;
    background: #020617;
    border-radius: 16px;
}

.share-label {
    font-weight: 600;
    color: #7dd3fc;
}

.link-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #020617;
    padding: 12px 16px;
    border-radius: 12px;
    font-size: 13px;
    word-break: break-all;
}

.instructions h4 {
    margin-bottom: 8px;
    color: #e5faff;
}

.instructions ol {
    padding-left: 18px;
    color: #cbd5f5;
    font-size: 14px;
}

.instructions li {
    margin-bottom: 6px;
}
span{
    color: #ffff;
}
