* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", system-ui, sans-serif;
  background-color: #020617;
  color: #e5f6ff;
  min-height: 100vh;


  background-image:
    linear-gradient(rgba(255,255,255,0.04) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,0.04) 1px, transparent 1px);
  background-size: 40px 40px;
}


.Container {
  max-width: 1200px;
  margin: auto;
  padding: 100px 24px;
}


.glow {
  text-shadow: 0 0 20px rgba(0,255,255,0.6);
}
